body {
    font-family: Poppins;
    font-size: 16px;
    background-color: rgb(87, 87, 188);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.main {
    width: 400px;
    text-align: left;
    border-radius: 15px;
    padding: 20px;
}

p{
    font-size: 16px;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    background-color: rgb(132, 132, 217);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

  
.rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgb(68, 68, 185);
}

.sunny , .cloudy {
    
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.sunny {
    background-color: yellow;
}

.cloudy {
    background-color: antiquewhite;
}

.date {
    flex: 2;
    font-size: 16px;
}


.temp {
    flex: 1;
    font-weight: bold;
    font-size: 16px;
    text-align: right;
}

